@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

body{
  font-family: "Fira Sans", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

*{
  margin: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

b{
  margin: 0 25px;
}

.loading{
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 font-size: 3em;
 position: absolute;
 top: 0;
 left: 0;
 height: 100vh;
 width: 100vw;
 background: #1a1aff;
 transform: translateY(0);
 transition: transform .5s;
 z-index: 3;
}

.loading.loading--stop{
  transform: translateY(-100%);
}

#bball{
  animation: bball-rotate 1s linear infinite;
}

#first-item, #second-item, #third-item{
  animation: show-code 2s linear infinite;
}

#svg-line{
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes bball-rotate {
  0% { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

@keyframes show-code {
  0% { transform: translateX(-50px); opacity: 0; }
  50%  { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(50px); opacity: 0;}
}

@media screen and (max-width: 500px){
  #bball{
    transform: translate(250px, -250px);
  }

  #laptop{
    transform: translate(-250px, 250px);
  }

  #svg-line{
    transform: rotate(90deg);
  }

  @keyframes bball-rotate {
    0% { transform: translate(250px, -250px); }
    50%  { transform: translate(250px, -300px); }
    100% { transform: translate(250px, -250px); }
  }
}

